matplotlib
pandas
numpy
keras
Jinja2
scipy==1.4.1
scikit-multilearn
scikit-image
opencv-python
deprecated
jupyter
sklearn
python-dotenv
google-cloud-storage
tf-nightly
jupyter_client
torchvision
streamlit